# checkpoint folder for holding intermediate datasets
/data/checkpoint

# datasets are generally too large for git, need to be transferred some other way
data/**/*.txt
data/**/*.csv

# results of submitting sas code in background
/sas/*.log
/sas/*.html

# editor config
.sasjslint